@charset "utf-8";
/* CSS Document */

body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	font-weight: bold;
	color: #00ADE2;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.word_type_b12{
	color: #000;
	font-weight: normal;
}
.word_type_bb12{
	color: #000;
	font-weight: bold;
}
.word_type_bb14{
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.word_type_g12{
	font-size: 12px;
	color: #999;
}
.word_type_wb12{
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
.word_type_blue12{
	font-size: 12px;
	color: #00ADE2;
}
.word_type_blueb12{
	font-size: 12px;
	color: #00ADE2;
	font-weight: bold;
}
.word_type_green12{
	font-size: 12px;
	color: #8BBD17;
	font-weight: normal;
}
#event_list{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}
.event{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-bottom-color: #CCC;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.event .pic{
	float: left;
	margin-right: 5px;
	height: 50px;
	width: 50px;
}
.event .pics{
	float: left;
	margin-right: 5px;
}
.event .text{
	line-height: 16px;
	margin-bottom: 2px;
}
.event .button{
	margin-left: 5px;
	float: right;
	margin-top: 12px;
}
/*按鈕*/
.button{
	margin-left: 5px;
	float: right;
	height: 100%;
}
.row1{
	margin-right: 2px;
	margin-left: 2px;
	height: 1px;
}
.row2{
	margin-right: 1px;
	margin-left: 1px;
	height: 1px;
}
.button_text{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.row1, .row2, .button_text{
	background-color: #8BBD17;
}
