@charset "utf-8";
/* CSS Document */
body{
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	background-color: #292E30;
	background-position: center top;
	background-image: url(../images/back.jpg);
}
a {
	font-weight: bold;
	color: #00ADE2;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a.close{
	display:block;
	padding:10px;
	text-decoration:none;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#eeeeee;
	cursor:pointer;
	display:inline-block;
	float:right;
	font-size:12px;
	font-weight:bold;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	white-space:nowrap;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	font-size: 12px;
	color: #000000;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 5px;
}
.word_type_r12{
	color: #F00;
	font-weight: normal;
	font-size: 12px;
}
.word_type_b12{
	color: #000;
	font-weight: normal;
	font-size: 12px;
}
.word_type_bb12{
	color: #000;
	font-weight: bold;
	font-size: 12px;
}
.word_type_b14{
	font-size: 14px;
	color: #000;
	font-weight: normal;
}
.word_type_bb14{
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.word_type_bb18{
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.word_type_bb24{
	font-size: 24px;
	color: #000;
	font-weight: bold;
}
.word_type_bb36{
	font-size: 36px;
	color: #000;
	font-weight: bold;
}
.word_type_g12{
	font-size: 12px;
	color: #999;
}
.word_type_wb12{
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
.word_type_wb14{
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.word_type_wb18{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.word_type_blue12{
	font-size: 12px;
	color: #00ADE2;
}
.word_type_blueb12{
	font-size: 12px;
	color: #00ADE2;
	font-weight: bold;
}
.word_type_green12{
	font-size: 12px;
	color: #8BBD17;
	font-weight: normal;
}
.button{
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#visiblebox{
	visibility:visible;
	height:40px;
}
/*lightbox*/
.popupbox {/*登入*/
	display: none; /* Hidden as default */
	width:290px;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	padding: 10px;


	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
}
.popupboxb {/*完成比賽*/
	display: none; /* Hidden as default */
	float: left;
	position: fixed;
	top: 50%;
	left: 49.8%;/*49.6%*/
	z-index: 99999;
	padding: 10px;
	/*-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;*/
}
#gorace{
	width: 200px;
	height: 320px;
	background-color: #fff;
	margin-left: 20px;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#gorace .textb{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#gorace .text{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
#select{
	padding: 5px;
	width: 180px;
	border: 1px solid #CCC;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#fileField{
	padding: 5px;
	width: 168px;
	border: 1px solid #CCC;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
.line_gs1{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
}
/*暗底*/
#fade{
	display: none; /* Hidden as default */
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80; /*透明度*/
	z-index: 9999;
}
#login{
	background-color: #FFF;
}
#login .box_top, #gorace .box_top{
	background-color: #eee;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	padding: 10px;
	margin-bottom: 10px;
	/*特定圓弧*/!important
	-webkit-border-top-left-radius: 2px; /* Safari, Chrome */
	-webkit-border-top-right-radius: 2px; /* Safari, Chrome */
	-moz-border-radius-topleft: 2px; /* Firefox */
	-moz-border-radius-topright: 2px; /* Firefox */
}
#login .box_bottom, #gorace .box_bottom{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	padding: 10px;
	margin-top: 10px;
	-webkit-border-bottom-left-radius: 2px; /* Safari, Chrome */
	-webkit-border-bottom-right-radius: 2px; /* Safari, Chrome */
	-moz-border-radius-bottomleft: 2px; /* Firefox */
	-moz-border-radius-bottomright: 2px; /* Firefox */
}
#login .text{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
#login_name, #login_pwd{
	padding: 5px;
	width: 258px;
	border: 1px solid #CCC;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#evaluation{
	padding: 5px;
	width: 270px;
	border: 1px solid #CCC;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#file{
	padding: 5px;
	width: 258px;
	border: 1px solid #CCC;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#imgupload{
	background-color: #FFF;
	width: 710px;
}
#imgupload .box_top{
	background-color: #eee;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	padding: 10px;
	margin-bottom: 10px;
	/*特定圓弧*/!important
	-webkit-border-top-left-radius: 2px; /* Safari, Chrome */
	-webkit-border-top-right-radius: 2px; /* Safari, Chrome */
	-moz-border-radius-topleft: 2px; /* Firefox */
	-moz-border-radius-topright: 2px; /* Firefox */
}
#submit{
	background-color: #00ADE2;
}
#submit:hover{
	background-color: #0098C4;
}
#submit, #submit:hover{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#signup{
	margin-left: 110px;
	margin-right: 110px;
}
#infobox{
	padding: 10px;
	width: 410px;
	float: left;
	margin-bottom: 10px;
}
#infobox .pic{
	float: left;
	margin-right: 20px;
}
#infobox .text{
	margin-bottom: 5px;
	line-height: 20px;
}
/*主要*/
#header{
	padding-top:10px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#base{
	padding: 10px;
	position: relative;
}
.back_sb{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: -999;
	left: 0px;
	top: 0px;
	opacity: .40;
	/*圓弧*/!important
	border-radius: 5px;
		-webkit-border-radius: 5px; /* Safari, Chrome */
		-moz-border-radius: 5px; /* Firefox */
		-o-border-radius: 5px; /* Opera */


}
#menu{
	position: relative;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
#menu .text{
	line-height: 20px;
	margin-bottom: 5px;
}
#menu a {
	font-size: 14px;
	font-weight: bold;
	color: #00ADE2;
	text-decoration: none;
}
#menu a:hover{
	font-size: 14px;
	text-decoration: underline;
}
#menu .bar{
	position: absolute;
	bottom: 0px;
	right: 10px;
	background-color: #000;
}
#menu .box, #menu .selected{
	float: right;
}
#menu .selected a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: block;
}
#menu .box a {
	font-size: 14px;
	font-weight: bold;
	color: #00ADE2;
	text-decoration: none;
	padding: 10px;
	display: block;
}
#menu .box a:hover{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	background-color: #333;
	padding: 10px;
}
/*所在地區*/
.CollapsiblePanelTab {
	cursor: pointer;
	float: left;
}
.CollapsiblePanelContent{
	margin-top: 10px;
}
/*所在地區*/
#container{
	background-color: #fff;
	padding: 20px;
}
#main{
	width: 660px;
}
#title2{
	border-bottom-color:#ccc;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}
#title .text, #title2 .text{
	margin-bottom: 10px;
}
#title .box{
	background-color: #eee;
	padding: 5px;


	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	margin-bottom: 10px;
}
#title .button{
	float: right;
	margin-top: 10px;
	margin-right: 2px;
}
#title .button_signup a {
	background-color: #8BBD17;
}
#title .button_signup a:hover{
	background-color: #7BA714;
}
#title .button_signup a, #title .button_signup a:hover{
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	display: block;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#settings .picb{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}
#settings .block{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-bottom-color: #CCC;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#settings .text{
	margin-bottom: 5px;
	line-height: 16px;
}
#settings .topic{
	width: 120px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
}
#settings .box{
	background-color: #eee;
	padding: 10px;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	margin-bottom: 10px;
}
#settings .box_bottom{
	padding-top: 10px;
	padding-bottom: 10px;
}
#settings .boxfloat{
	float: left;
	margin-left: 5px;
}
#memName,#email, #password, #password2, #password_old, #Country, #City, #TeamName, #brand, #bikeModel, #GearingSystem, #Wheel, #TeamCity{
	padding: 5px;
	width: 258px;
	border: 1px solid #999;



	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	margin-right: 10px;
}
#Gender, #birthday_year, #birthday_month, #birthday_day, #ride_year, #ride_month, #ride_day, #bikeType, #TeamCreate_year, #TeamCreate_month, #TeamCreate_day, #score, #bike_select{
	padding: 5px;
	border: 1px solid #999;


	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
}
#raceName{
	padding: 5px;
	width: 258px;
	border: 1px solid #CCC;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#duedate, #race_type, #isgroup, #gender, #age, #routemap{
	padding: 5px;
	width:270px;
	border: 1px solid #CCC;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#tips{
	background-color: #ECF9CE;
	padding: 10px;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	border: 1px solid #C1EC60;
	margin-bottom: 10px;
	/*display: none;*/
}
#tips .text{
	margin-bottom: 5px;
}
#tips .button a {
	background-color: #8BBD17;
}
#tips .button a:hover{
	background-color: #7BA714;
}
#tips .button a, #tips .button a:hover{
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	display: block;
	/*圓弧*/!important
	border-radius: 2px;
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-moz-border-radius: 2px; /* Firefox */
		-o-border-radius: 2px; /* Opera */
}
#intro, #sideads{
	position: relative;
	margin-bottom: 10px;
}
#intro .float{
	/*background-color: #FFF;*/
	position: absolute;
	width: 660px;
}
#intro .menu{
	background-color: #eee;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;

	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	margin-top: 10px;
}
#map, .cube, #sideads{
	width: 100%;
	height: 370px;
	z-index:999;
}
#event .block{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-bottom-color: #CCC;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#event .pic{
	float: left;
	margin-right: 5px;
	width: 50px;
}
#event .pics{
	float: left;
	margin-right: 3px;
}
#event .text{
	line-height: 16px;
	margin-bottom: 2px;
	height: 16px;
	overflow: hidden;
}
/*子標題*/
#event .box{
	background-color: #eee;
	padding: 10px;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	margin-bottom: 10px;
}
#event .boxfloat{
	float: right;
	width: 100px;
	margin-left: 5px;
	margin-top: 6px;
}
/*人*/
#event .blocks{
	padding: 10px;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	margin-bottom: 10px;
	border: 1px dotted #ccc;
	width: 300px;
	float: left;
	margin-right: 4px;
	margin-left: 4px;
}
#event .bar{
	float: right;
	height: 50px;
}
#event .buttons2 a, #event .buttons2 a:hover{
	margin-left: 5px;
	float: right;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-decoration: none;
	display: block;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
}
#event .buttons a {
	background-color: #8BBD17;
}
#event .buttons a:hover{
	background-color: #7BA714;
}
#event .buttons a, #event .buttons a:hover{
	margin-left: 5px;
	float: right;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #fff;
	text-decoration: none;
	display: block;
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
}
.morebox{
	text-align: center;
	display: block;
	
}
#side{
	width: 200px;
	margin-left: 10px;
	padding-left: 10px;
}
#buttonblock{
	margin-bottom: 5px;
}
#buttonblock .button a {
	background-color: #8BBD17;
}
#buttonblock .button a:hover{
	background-color: #7BA714;
}
#buttonblock .button a, #buttonblock .button a:hover{
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	display: block;
	/*display: none;*/
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
}
#side .text{
	margin-bottom: 10px;
	color: #999;
}
#side .menu .block, #sideads .block{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
#side .menu .block2{
	background-color:#eee;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#side .menu .block3{
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#data, #cadres, #master, #record, #relation{
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
}

#buttonblock .buttons3{
	background-color: #eee;
		color: #000;
}
#buttonblock .buttons3:hover{
	background-color: #ccc;
		color: #000;
}
#profile{
	margin-bottom: 5px;
}
#profile .picb{
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
}
#profile .pic{
	float: left;
	width: 60px;
}
#profile .button a, #profile .button a:hover, #profile .buttons2 a, #profile .buttons2 a:hover, #profile .buttons3 a, #profile .buttons3 a:hover, #buttonblock .buttons3, #buttonblock .buttons3:hover{
	width:180px;
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
	display: block;
	/*display: none;*/
	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
}
#profile .button a{
	background-color: #8BBD17;
			color: #fff;
}
#profile .button a:hover{
	background-color: #7BA714;
			color: #fff;
}
#profile .buttons3B{
	background-color: #eee;
		color: #000;
}
#profile .buttons3B:hover{
	background-color: #ccc;
		color: #000;
}
#side .menu .box, #sideads .box, #data .box, #cadres .box, #master .box, #record .box, #relation .box{
	background-color: #eee;



	/*圓弧*/!important
	border-radius: 2px;
	-webkit-border-radius: 2px; /* Safari, Chrome */
	-moz-border-radius: 2px; /* Firefox */
	-o-border-radius: 2px; /* Opera */
	margin-bottom: 10px;
	padding: 5px;
}
#settings .pic, #cadres .pic, #master .pic, #relation .pics{
	float: left;
	margin-right: 3px;
}
#cadres .block, #master .block, #record .block{
	margin-bottom: 10px;
}
#record{

}
#footer{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
#footer a {
	font-size: 12px;
	font-weight: normal;
	color: #999;
	text-decoration: none;
}
#footer a:hover{
	font-size: 12px;
	font-weight: normal;
	color: #999;
	text-decoration: underline;
}
