@charset "utf-8";
/* CSS Document */

/***共用元素***/
body{
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #292E30;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../images/back.jpg);
}
#base{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#main, .check, #menu, #info, #lightbox{
	padding: 20px;
	position: relative;
}
#topic{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	position: relative;
}
#lightbox{
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}
#top{
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 10px;
}
#map{
	position: relative;
}
/*主選單*/
#menu{
	position: relative;
}
#menu_bar{
	position: absolute;
	right: 20px;
	bottom: 0px;
}
/*所在地區*/
.CollapsiblePanelTab {
	cursor: pointer;
	float: left;
}
.CollapsiblePanelContent{
	margin-top: 10px;
}
/*float*/
#star{
	float: left;
}
/*分隔*/
.line_1{
	padding-top: 1px;
}
.line_10{
	padding: 5px;
}
.line_20{
	padding: 10px;
}
/*邊線*/
.side_menu{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
/*區塊*/
.block{
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#tag{
	margin-bottom: 10px;
}
#tag2{
	margin-top: 380px;
}
.block{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-bottom-color: #CCC;
}
.box{
	margin-right: 5px;
	margin-left: 5px;
}
.name, .time, .team, .live, .text{
	margin-bottom: 2px;
}
/*圖片*/
.pic{
	float: left;
	margin-right: 5px;
}
/*背景顏色*/
.back_sb{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	z-index: -1;
	left: 0px;
	top: 0px;
	opacity: .40;
}
.back_w{
	background-color: #fff;
}
.back_b{
	background-color: #000;
}
.back_green, .row3, .row4, .button_text2{
	background-color: #8BBD17;
}
.back_blue, .row1, .row2, .button_text1, .button_text3, .tip1, .tip2, .tip3, .tip4, .tip5{
	background-color: #00ADE2;
}
.back_gray{
	background-color: #999;
}
.back_graylight{
	background-color: #eee;
}
/*文字樣式*/
.word_b{
	color: #000;
}
.word_w{
	color: #fff;
}
.word_blue{
	color: #00ADE2;
}
.word_gray{
	color: #999;
}
.word_bold{
	font-weight: bold;
}
.word_12{
	font-size: 12px;
}
.word_14{
	font-size: 14px;
}
.word_18{
	font-size: 18px;
}
.word_24{
	font-size: 24px;
}
.word_36{
	font-size: 36px;
}
/*連結*/
a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #00ADE2;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	font-weight: bold;
}
#menu_bar .box a:link, #menu_bar .box a:visited, #menu_bar .selected a:link, #menu_bar .selected a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #999;
	display:block;
	text-decoration:none;
	padding: 15px;
}
#menu_bar .box a:hover, #menu_bar .selected a:link, #menu_bar .selected a:visited{
	color: #00ADE2;
	background-color: #FFF;
}
.side_menu a:link, .side_menu a:visited{
	color: #000;
}
.side_menu a:hover, .selected_text a:link, .selected_text a:visited{
	color: #00ADE2;
}
.selected_text a:link, .selected_text a:visited{
	text-decoration: none;
}
/*對齊*/
.text_right{
	text-align: right;
}
/*按鈕*/
.button1, .button4{
	float: left;
	margin-right: 5px;
}
.button2{
	margin-left: 5px;
}
.button2, .button3{
	float: right;
}
.row1, .row2, .row3, .row4, .row5, .row6, .tip1, .tip2, .tip3, .tip4, .tip5, .tip11, .tip12, .tip13, .tip14, .tip15{
	height: 1px;
}
.row1, .row3, .row5{
	margin-right: 2px;
	margin-left: 2px;
}
.row2, .row4, .row6{
	margin-right: 1px;
	margin-left: 1px;
}
.button_text1, .button_text2, .button_text4, #submit{
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
button_text3{
	padding: 0px;
}
.button_text5{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
/*對話框*/
.tip1, .tip2, .tip3, .tip4, .tip5, .tip11, .tip12, .tip13, .tip14, .tip15{
	margin-right: auto;
	margin-left: auto;
}
.tip6, .tip7, .tip8, .tip9, .tip10{
	margin-top: auto;
	margin-bottom: auto;
}
.tip1, .tip6, .tip7, .tip8, .tip9, .tip10, .tip11{
	width: 1px;
}
.tip2, .tip12{
	width: 3px;
}
.tip3, .tip13{
	width: 5px;
}
.tip4, .tip14{
	width: 7px
}
.tip5, .tip15{
	width: 9px;
}
.tip6{
	height: 1px;
}
.tip7{
	height: 3px;
}
.tip8{
	height: 5px;
}
.tip9{
	height: 7px;
}
.tip10{
	height: 9px;
}
/*star*/
a#coffee-link, div#coffee-container {
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div#link a {
	color: #EA9C00;
	font: bold 10px verdana;
	letter-spacing: .9px;
	text-decoration: none;
}
div#link a:hover {
	color: #DC5;
	font: bold 10px verdana;
	letter-spacing: .9px;
	text-decoration: underline;
}
a#coffee-link {
	background: url('../star/coffee.png') 6px 2px no-repeat;
	border: 1px solid #D9C640;
	color: #FFF;
	display: block;
	font: bold 10px verdana;
	letter-spacing: .9px;
	padding: 4px 5px 4px 26px;
	text-decoration: none;
}
a#coffee-link:hover {
	text-decoration: underline;
}
div#adsense {
	font: 10px verdana;
	color: #AB9927;
	text-indent: 7px;
}
div#coffee-container {
	background-color: #DC5;
	float: right;
	margin-right: 15px;
}
div.description {
	font: 10px verdana;
	color: #555;
	letter-spacing: .1px;
	margin-bottom: 10px;
	text-indent: 7px;
	text-align: left;
	width: 99%;
}
div#link {
	font: 10px verdana;
	color: #AB9927;
	text-indent: 7px;
}
div.notice {
	font: 9px verdana;
	color: #777;
	letter-spacing: .1px;
	margin-bottom: 3px;
	text-indent: 7px;
	text-align: left;
	width: 99%;
}
div.session {
	font: bold 13px verdana;
	border-bottom: 1px solid #EFEFEF;
	color: #444;
	letter-spacing: .7px;
	margin-bottom: 10px;
	margin-top: 24px;
	text-align: left;
	width: 99%;
}
div.source {
	background: #F8F8FF;
	border: 1px solid #EFEFEF;
	border-left: 3px solid #CCC;
	color: #444;
	font: 12px monospace;
	letter-spacing: .1px;
	margin-bottom: 7px;
	margin-top: 5px;
	padding: 7px;
	width: 99%;
}
div.text {
	font: 10px verdana;
	color: #555;
	letter-spacing: .1px;
	margin-bottom: 20px;
	margin-top: 5px;
	text-align: left;
	text-indent: 7px;
	width: 99%;
}
div.title {
	font: bold 17px verdana;
	color: #269;
	letter-spacing: .7px;
	margin-bottom: 20px;
	margin-top: 5px;
	text-align: left;
	width: 99%;
}
span.comment-html, span.comment-script {
	font: 12px monospace;
	letter-spacing: .1px;
	margin-bottom: 7px;
	margin-top: 5px;
}
span.comment-html {
	color: #5e85de;
}
span.comment-script {
	color: #578F73;
}
span#version {
	color: #777;
	font: 10px verdana;
}
/***end***/

/***signup***/
#signup{
	width: 600px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}
#login_name, #login_pwd, #memName, #memEmail, #pass1, #pass2, #Country, #City, #birthday_year, #birthday_month, #birthday_day, #brand, #model, #bikeid, #system, #wheel{
	padding: 5px;
	width: 240px;
	border: 1px solid #CCC;
}
#Gender, #ride_year, #ride_month, #ride_day, #birthday_year, #birthday_month, #birthday_day{
	width: 80px;
	padding: 5px;
	border: 1px solid #CCC;
}
#memName, #memEmail, #pass1, #pass2, #Country, #City, #Gender, #ride_year, #ride_month, #ride_day, #birthday_year, #birthday_month, #birthday_day{
	margin-bottom: 10px;
	margin-top: 2px;
}
/***index***/
.test1{
	position: absolute;
	left: 240px;
	top: 225px;
	float: left;
}
.test{
	background-color: #FFF;
	border: 2px solid #00ADE2;
	padding: 10px;
}
/***ranking***/
.side_line{
	height: 100%;
	border-right-width: 0px;
	border-right-style: solid;
	border-right-color: #CCC;
}
.side_menu, .side_text{
	margin-bottom: 20px;
	margin-left: 20px;
	padding-bottom: 5px;

}
.side_text{
	padding: 10px;
	border: 1px solid #8BBD17;
	background-color: #EAF9C8;
	text-align: center;
}
/***event***/
.ranking{
}
/***rider***/
.team{
	margin-bottom: 5px;
}
/***racing***/
#side_map{
	position:absolute;
	z-index:1;
	width: 940px;
}
#side_bar{
	position:absolute;
}
