@charset "utf-8";
/* CSS Document */


/* simple css-based tooltip */
.tooltip {
	/*background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;*/
	width:240px;
	display:none;
	color:#333;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	/*-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;*/
}
