/* CSS Document */

/* Style you custom popupbox according to your requirement */
.popupbox {
	display: none; /* Hidden as default */
	width:380px;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	/*-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;*/
}
/*暗底*/
#fade { 
	display: none; /* Hidden as default */
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

#close img {
	text-decoration:none;
}
#close {
	width:50px;
	height:50px;
	position: absolute;
	float:right;
}

#intabdiv {
	padding:20px;
	background-color: #FFF;
}
#intabdiv  h2 {
	font-size:24px;
}
#intabdiv p {
	line-height:20px;
}
