<div id="tips">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
    	<tr>
        	<td>
            	<div class="text word_type_bb24">趕快加入RoadandBike</div>
                <div class="text word_type_b14">征服您的城市，成為街頭達人</div>
            </td>
        	<td>
            	<div class="button"><a href="signup.php">註冊為車手</a></div>
            </td>
		</tr>
	</table>
</div>