@charset "utf-8";
/* CSS Document */

/*連結*/
a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4896D1;
	text-decoration: none;
}

/*主選單*/
.menu a:link, .menu a:visited, .menu a:hover, .selected a:link, .selected a:visited, .selected a:hover{
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.menu a:link, .menu a:visited{
	display:block;/*重要*/
	color:#ffffff;
	text-decoration:none;
}
.menu a:hover{
	background-color:#fff;
	color:#4896D1;
}

.selected a:link, .selected a:visited{
	display:block;/*重要*/
	color:#4896D1;
	text-decoration:none;
}

#signin a:link, #signin a:visited, #topic .button a:link, #topic .button a:visited, #data a:link, #data a:visited, #TabbedPanels1 .button a:link, #TabbedPanels1 .button a:visited{
	color:#ffffff;
	padding: 10px;
}

#base a:hover{
	text-decoration: underline;
}

/*顏色*/
.blue{
}

.whiteb{
	background-color: #FFF;
}

.whitew{
	color: #FFF;
}

.gray{
}

/*flat*/
.flatr{
	float:right;
}

/*按鈕*/
.button{
	float: right;
	margin-left: 10px;
}

.row1, .row2{
	height: 1px;
}

.row1{
	margin-right: 2px;
	margin-left: 2px;
}

.row2{
	margin-right: 1px;
	margin-left: 1px;
}

.button .text1{
	padding: 5px;
}

.row1, .row2, .button .text1{/*綠色*/
	background-color: #8BBD17;
}

/*註冊*/
#name, #mail, #key, #rekey, #live, #birthday, #brand, #model, #bikeid, #system, #wheel{
	padding: 5px;
	width: 240px;
	border: 1px solid #CCC;
}

#sex, #rideage, #year, #month, #day{
	width: 80px;
	padding: 5px;
	border: 1px solid #CCC;
}

#name_text, #mail_text, #key_text, #rekey_text, #live_text, #sex_text, #birthday_text, #rideage_text{
}

/**/
body{
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #292E30;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../images/back.jpg);
}

#base{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

#top{
	padding-top: 10px;
}

#main{
}

.search{
	float: left;
	background-color: #FFF;
	padding: 0px;
	border: 2px solid #CCC;
}

.search_text{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding: 4px;
	width: 100%;
}

.search_button{
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}

#signup{
	padding-top: 20px;
	padding-right: 150px;
	padding-bottom: 20px;
}

#signin{
	background-color: #CCC;
	padding: 10px;
	margin-left: 10px;
}

#signin_mail, #signin_key{
	padding: 10px;
	border: 1px solid #999;
	width: 230px;
	margin-bottom: 5px;
}

.signbox{
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 10px;
}

#sign{
	float: right;
}

.menu{
	background-color: #4896D1;
}

.menu, .selected{
	float: right;
	margin-left: 5px;
}

.selected{
	background-color: #fff;
}

#info{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 280px;
}

#comment{
	width: 700px;
	margin-right: 280px;
}

#feature{
}

#news{
}

#searchlist{
	width: 490px;
	margin-right: 490px;
}

#talk{
	position: absolute;
	top: 9px;
	right: 10px;
	background-color: #8BBD17;
	padding: 10px;
	float: right;
}

#side{
	float: right;

}

.width1{
	width: 280px;
}

.width2{
	width: 490px;
}
/**/
.name, .time, .text, .age, .live, .rideage, .appeared, .addres, .bikeid, .system, .wheel{
	margin-bottom: 5px;
}

.pic{
	margin-right: 5px;
	margin-left: 5px;
}

.pics{
	margin-right: 3px;
	margin-left: 3px;
	float: left;
	margin-bottom: 3px;
}

.picb{
	margin-right: 5px;
	margin-left: 5px;
	float: left;
	margin-bottom: 2px;
	margin-top: 2px;
}

.unit{
	font-size: 12px;
	font-weight: bold;
	background-color: #EFEFEF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 20px;
	float: left;
	margin-bottom: 5px;
}

.box{
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;
}

.block{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}

#data{
	padding-right: 10px;
	padding-left: 20px;
}

#awards{

}

#track_down, #track_up, #awards_more, .facebook, .signup_button{
	text-align: center;
	margin-bottom: 15px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 15px;
	background-color: #AE0000;
}

#counter, #mileage, #record{
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}

#info, #comment, #data{
	/*background-image: url(../images/shadow_b.png);*/
}

#topic{
	background-color: #FFF;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin-bottom: 10px;
}

#finish, #wantto, #rating{
	text-align: center;
}

#map{
	background-color: #FFF;
	padding: 10px;
	margin-left: 10px;
}

.more{
	padding-bottom: 10px;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #EFEFEF;
	border: 1px solid #CCC;
}

.facebook{
	background-color: #3B5998;
}

.signup_button{
	background-color: #8BBD17;
}

#feed, #copyright{
	padding: 10px;
}

/*底色*/
#report, #creator, #toplist, #friends, #team, #shop, #fans{
	background-color: #FFF;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*字*/
.w1{
	font-size: 24px;
	font-weight: bold;
}

.w2{
	font-size: 12px;
}

.w3{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
}

.w4{
	font-size: 14px;
	color: #AE0000;
	font-weight: bold;
}

.w5{
	font-size: 42px;
	font-weight: bold;
	color: #FFF;
}

.w6{
	font-size: 12px;
	font-weight: bold;
}

/*置中*/
.center{
	text-align: center;
}
