#content{ width:600px; margin-left:80px;}

{ border-bottom:1px solid #CCDCEF; min-height:100px; width:450px; margin-bottom:10px;}



.buttons2 .btn-follow {
	background-color: #eee;
		color: #000;
}
.buttons2 .btn-follow:hover{
	background-color: #ccc;
		color: #000;
}

.buttons2 .btn-following {
	background-color: #8BBD17;
		color: #fff;
}
.buttons2 .btn-following:hover{
	background-color: #7BA714;
		color: #fff;
}

/* .buttons a:hover{ border:solid #333333 1px;}*/
